DATABASE_URL="file:./dev.db"
JWT_SECRET="change-me-to-a-secure-secret-key-at-least-32-chars"
ADMIN_DEFAULT_USERNAME="admin"
ADMIN_DEFAULT_PASSWORD="change-me-admin-password"
PISTON_API_URL="http://localhost:2000"
